extends ../../Layout/default.pug
include ../../Mixin/box-head.pug
include ../../Mixin/product-layout.pug
block main
  .container.mt-80
    .row
      .col-12
        +box-head(title)
    +product-grid(products)

