extends ../../Layout/default.pug
include ../../Mixin/box-head.pug
include ../../Mixin/product-layout.pug
include ../../Mixin/alert.pug
block main
  .container.my-3
    .row
      .col-12
        +box-head("Sản Phẩm Nổi Bật")
    +product-grid(productsFeatured)
    .row
      .col-12
        +box-head("Sản Phẩm Mới")
    +product-grid(productsNew)
    

