extends ../../Layout/default.pug
include ../../Mixin/filter-status.pug
include ../../Mixin/search-item.pug
include ../../Mixin/pagination.pug
include ../../Mixin/form-change-multi.pug

block main
    if(role.permissions.includes("trash_view"))
        div
            a(href=`${prefixAdmin}/trash/products`) Thùng Rác Sản Phẩm
        div
            a(href=`${prefixAdmin}/trash/products-category`) Thùng Rác Danh Mục Sản Phẩm
        div
            a(href=`${prefixAdmin}/trash/roles`) Thùng Rác Nhóm Quyền